/*
 * version.15.2016-10-27.last.minor: hitp.css
 * version.15.2016-10-27.last.minorNo (14-14): hitp.15.2016-10-27.css (any-machine)
 * version.14.2016-06-09 (13): hitp.14.2016-06-09.css (title-content-tree)
 * version.13.2016-06-07 (12-17): hitp.13.2016-06-07.css (preview)
 * version.12.2016-01-24 (11.9): hitp.2016.01.24.12.css (toc-icn-img)
 * version.11.2015-10-26: hitp.2015.10.26.11.css (preferences)
 * version.10.2014-08-05: hitp.2014.08.05.10.css (valuenames)
 * version.9.2014-08-02: hitp.2014.08.02.9.css (NO jQuery, fixed popup)
 * version.8.2014-01-09: hitp.2014.01.09.8.css (toc on hovering)
 * version.7.2013-11-06: hitp.2013.11.06.7.css (tabs)
 * version.6.2013-08-21: hitp.2013.08.21.6.css (site-structure)
 * version.previous: hitp.2013.08.09.css (heading icons)
 * version.previous: hitp.2013.06.29.css (hitp-dir)
 * version.previous: /hit/hit.2013.06.18.css (last name)
 * version.previous: css.html5.id.toc.2013.04.14.css (popup)
 * version.previous: css.html5.id.toc.2013.04.07.css (round-button)
 * version.previous: css.html5.id.toc.2013.04.01.css
 * version.previous: css-html5-id-2013.03.29.css
 * version.previous: css-html5-id-2013.03.28.css
 * style for HTML5-id-texts
 *
 * The MIT License (MIT)
 *
 * Copyright (c) 2016 Kaseluris.Nikos.1959 (synagonism)
 * kaseluris.nikos@gmail.com
 * http://synagonism.net/
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}

@font-face {
  font-family: "fntUbuntuMonoRgr";
  font-style:  normal;
  font-weight: normal;
  src: url("UbuntuMonoRegular.ttf");
}

body {
  background-color: white;
  font-family: fntUbuntuMonoRgr, 'Times New Roman', Georgia, Times, serif, Dialog;
  line-height: 1.3;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/********************************************************/
/***  CONTAINERS  ***/

#idCnrTopDiv {
  position: fixed;
  background: #004900;
  width: 100%;
  height: 26px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  box-shadow: 0 5px 2px -2px #999;
  text-align: center;
  z-index: 999;
}
#idCnrBodDiv {
  position: fixed;
  width: 100%;
  height: calc(100% - 26px);
  top: 26px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}
#idCnrBodTocDiv {
  background: #dddddd; /* Old browsers */
  background: linear-gradient(to left, #bbb, #eeeeee 100%); /* W3C */
  background: -webkit-linear-gradient(right,  #bbb, #eeeeee 100%);
  position: absolute;
  left: 0px;
  line-height: 116%;
  height: 100%;
  margin: 0px;
  font-size: 14px;
  z-index: 20; /* div left */
  overflow: auto;
  box-shadow: 10px 0 10px -7px gray;
}
#idCnrBodCntDiv {
  background: white;
  position: absolute;
  right: 0px;
  height: 100%;
  padding: 0 5px 0 10px;
  outline: none;
  z-index: 0; /* div right */
  overflow: auto;
}
#idCnrBodTocDiv > input[type="button"] {
  padding: 2px 7px 2px 7px;
  margin-left: 5px;
  margin-bottom: 10px;
}
#idCnrBodTocDiv  p {
  text-indent: -8px;
  margin-left: 8px;
}
.clsTopIcn {
  height: 26px;
  width: 33px;
  cursor: pointer;
}
.clsTopIcn:before {
  width: 100%;
  line-height: 26px;
  vertical-align: middle;
}
.clsTopIcn.clsClicked {background-color: green;}
#idTopTitleP {
  color: white;
  display: inline-block;
  margin: 0px;
  padding-left: 26px; /* to show alwayes the-start of text */
  width: calc(100% - 132px);  /* 3x33=99 */
  height: 26px;
  line-height: 26px;
  overflow: hidden;
}
#idCnrSiteCntDiv {
  display: none;
  background-color: #004900;
  color: white !important;
  position: fixed;
  top: 26px;
  left: 0px;
  height: calc(100% - 26px);
  min-width: 30%;
  z-index: 999;
  box-shadow: 10px 0px 10px -4px gray;
  animation: animateLeft 0.7s;
  text-decoration: none !important;
  overflow: auto;
}
@keyframes animateLeft{
  from{left:-300px; opacity:0}
  to{left:0; opacity:1}
}
#idCnrWidthCntDiv {
  display: none;
  background-color: #004900;
  color: white;
  position: fixed;
  top: 26px;
  right: 0px;
  height: 100%;
  min-width:160px;
  z-index: 999;
  box-shadow: -10px 0px 10px -4px gray;
  animation: animateRight 0.7s;
}
@keyframes animateRight{
  from{right:-300px; opacity:0}
  to{right:0; opacity:1}
}
#idCnrSiteCntDiv > p,
#idCnrWidthCntDiv > p {
  background-color: green;
  user-select: none;
  cursor: pointer;
  margin: 1px 2px;
  height: 26px;
}
#idSiteCntP2 {
  background-color: #004900 !important;
  cursor: default;
  margin-top: 10px !important;
}
#idSiteTreeUl {
  margin: 10px;
  padding: 0px;
}
#idSiteTreeUl a {
  color: white !important;
}

/********************************************************/
/*** HEADING-ELEMENTS ****/

header {
  padding: 2px;
}

header > h1 {
  background: #004900;
  background: linear-gradient(#004900, #287128);
  background: -webkit-linear-gradient(#004900, #287128);
  border-top: 0px solid #000000;
  border-radius: 5px;
  color: white;
  font-family: "Times New Roman", Georgia, Times, serif;
  font-size: 28px;
  font-weight: bold;
  margin: 0px 33px 20px 33px;
  padding: 5px 0 10px 0; /*top right bottom left*/
  text-align: center;
}

h1 {
  background: #f5f5f5; /*cff5f5 #d9ffff;*/
  background: linear-gradient(to bottom, #f5f5f5, #fff);
  background: -webkit-linear-gradient(top,  #f5f5f5, #fff);
  border-radius: 2px;
  padding: 3px 0 0 5px;
  color: #005500;
  font-family: "Comic Sans MS", Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 5px;
}
section > h1:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAYCAYAAADkgu3FAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90ICRMlNPgrmGEAAAGESURBVEjH7dY/aBRREMfxz513RowIMRAxCBKsrghPW+0sgukUERELG6uARRCxXF4n1hYi2AraWBj/VGKbQmRBRQQRCxsbQ4gWCXgWGeImmOT2QlTQKWfmN9+ZN7tvl//2Jy2ltGOznEYkDmAJ3bIsuzUADehZk1LauYVpWimldl3RQJ+wXZseXUqpWZbld4UpXMMo5vBcdlahhfvoyDqgMIzrOCE7HL49soX1QMuQZTuODsbwBa3wX8EpfIyCk3iNS5hdqbQBBJqVxAuyb/gasMcKgzHlTdnJyLyBu1jEgxV9YW9voJ92OvwzOIch3Ko0NI4X6OJJxT+/EahV6Wg/LuNigD5FZFb2Zo3ufOxwodcHphmQI3gVOzqIaYxEzr1VisI+TMTE6oG4jSLES7GDY/FCP1ujOYP2qmOrARrHo1j8HdlnHIrYgV+APsje9zvRW7zD1fDN4CUeKoxWNEfxdCsXY3sbLtvGeoHBPgvurt1BL1f+9o77F34Em78DMvTv/Ff8AMDAWZjHjM+WAAAAAElFTkSuQmCC);
  color: #000000;
  display: inline-block;
  vertical-align: middle;
}

h2 {
  background: #f5f5f5;
  background: linear-gradient(to bottom, #f5f5f5, #fff);
  background: -webkit-linear-gradient(top,  #f5f5f5, #fff);
  border-radius: 3px;
  padding: 3px 0 0 10px;
  color: #000077;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 5px;
}
section > h2:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAYCAYAAADkgu3FAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90ICRMtJ7RMU7cAAAGtSURBVEjHxdaxaxRBFMfxzxzBQiubiEEQsTGIrJWFf4HYqJWFhX+BiIjYCIJgY20hgiIoggo2RhFBQYSAlVkiGrSysNHCSgsPMjZvZW+5W3dzRxxYdmfm/ea7783Mm0laSlEUupSyLCf25ZxBmgbQB5i6QCYN0Mc2tQnb/rCvbjAtpGab2jwdTAspiiKFJrd5OWjotvSBNAFt2kFFXl1dPluWK5/JQ/J38iMy8hz5Mflj1NfIv8nL5MVoi2cUVvfqr0fr61sPYRF78ANz0XUex/El6vuwDXdwr6vntdClU6Rf+BmwZzHgRVzHkZrtEHexf9xWbFt1desT0b6Ek9iOG2N+8ihedvWoCk8m78AZnA7Q1+h7iw+jWy8v4BqOVXPTKXRluXIQ72OOduEc5sPmQSN7zeMFroZmUpIZG7qbuBzhGuI+Dof6Vc1+N97gIW53hdRBB/A0Jv4WvsWgsDPee/E6IFf6QJoereETLkTbEt7hCRbwPOCXRjZO/bMlBaVaY2qmkY2WOqha6mlSxywh43Ldhg+9f2nTLI6JLvpNO/j+z1G+qZeTWV+3qvIHDjuqHwZv+zAAAAAASUVORK5CYII=);
  display: inline-block;
  vertical-align: middle;
}

h3 {
  background: #f5f5f5;
  background: linear-gradient(to bottom, #f5f5f5, #fff);
  background: -webkit-linear-gradient(top,  #f5f5f5, #fff);
  border-radius: 3px;
  padding: 3px 0 0 15px;
  color: #550000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 5px;
}
section > h3:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAACJfM0wAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90ICRMxOjE9YjMAAAGESURBVDjL7dTNq01RGAbw3znXyfWRa2Ig14SYWbtkbKxWXZQwMTDh/gNuofZgd/8AH0VRhlIMKLukDJSJpKwTM4UwUCZm93DYJjudezt7I4eRd7JqPe/7rGc973oX/2MSkWVZ72+QTrfh3SzLprIs6/4ucVVVgxBCpwlfhS6+RsUpLGAGr3CilD+MikUcKeU7ICreo9J3+m24dRNLYxVjWK/bMYsD2ImPUbEHZ/BupGYWh3Gp3+8vNSpOKVUYJmm+VrQJH0r5i6i4jrulfG6kpofdeNrq8Zi9OdyPivU4iAsr8Je4iHN1E6eaPBZCmNnaP7QLxxGxGsfwGg9W1GzDPlzBbVSNirc8338SV7EWA2zEDdwp5csKS/kQj+rcH+LGEne/9c7iKALOl/JP2IsqKpbZFRWbcRnXIKX0uekdb6iv+xjPsFhj9zBfey4qnkTFFyS8wUIIYbptgtb8wfR1WsGmzv6EtHVaOyMnr6s7PEwpDSb5qXR+NTeE0Gn7J/6pmInFd24TaJHFmiO0AAAAAElFTkSuQmCC);
  display: inline-block;
  vertical-align: middle;
}

h4 {
  background: #f5f5f5;
  background: linear-gradient(to bottom, #f5f5f5, #fff);
  background: -webkit-linear-gradient(top,  #f5f5f5, #fff);
  border-radius: 3px;
  padding: 3px 0 0 20px;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 5px;
}
section > h4:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAACJfM0wAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90ICRMzI2dgqHEAAAFHSURBVDjL7dQ9S51BEAXg516u1w9ELLQO2AZ2G5tAQNIKRi2sApYSUongHwh2FmkFSSlYWChIChv/gNULATWFjRYhhVgZI+a1mYSNXsFKJTjV7Ozs7DlndodnexDLOTefDJiUUiOl1HvXfjPn3A5/ET/wCwcYi/gSvhVnlrFWVVWNVkqpp2De6nTJCroxjhovMYrf2I2cEVxiqijWVfjtv4iLwu9xgWF8x1csYBtvClZ7OMJhxOpSgT9OJ+hvsYN+TGMi4gOYxTt8wH6Hwle3GoHX+IyfkVwHskakzeEE7ejF5E36pcZNqKpqHqvoCzkGsY6tAtEMNvAqmH7pIOctO0MOXT9G7ASfioOnBZM6+vBP81JKrfJzDGIzJFgLqkKW8/IFxKs5xoso1HPjo/WWi6Gcc/dTHAetR7u5kXNu3HNONP+/UXwN8Z5H7DF5u/wAAAAASUVORK5CYII=);
  display: inline-block;
  vertical-align: middle;
}

h5 {
  background: #f5f5f5;
  background: linear-gradient(to bottom, #f5f5f5, #fff);
  background: -webkit-linear-gradient(top,  #f5f5f5, #fff);
  border-radius: 3px;
  padding: 3px 0 0 25px;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 5px;
}
section > h5:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAACJfM0wAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90ICRM2FKKq+TsAAAD5SURBVDjL7dQxSkNREAXQ86PEgAGzD/F9EAsLwcbKyh24BCsrO7EUYiPYpBGMlRa2Fq5BRCQIaiMEtAkWiqCxmUJCiD8BLSRTXe6buTPcNwzj+JPI83xyhJrSrwyTUspSSrWeZlm/aTfxhHe0sBz8Dm4Dn6OLD9wVHeIAU1iN4lks4BMXmAu+OcCeyqAG62gHbuIs8G4Iz49q3wkOUcUrVoJvhfAlFocRXEIDbyHQxT2ybzk1bOGhqOgGbnCMDmYC7/XJreKlqHAHOa6xHdwj6ij1TLwfH/3jok/jNCw4QjmeGuHxGq5ixZ6j2UQR4cr49vz/05oNk/8Fn6M1rug22XwAAAAASUVORK5CYII=);
  display: inline-block;
  vertical-align: middle;
}

h6 {
  background: #f5f5f5;
  background: linear-gradient(to bottom, #f5f5f5, #fff);
  background: -webkit-linear-gradient(top,  #f5f5f5, #fff);
  border-radius: 3px;
  padding: 3px 0 0 30px;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 5px;
}
section > h6:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAACJfM0wAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90ICRM4Asj9YeQAAAFJSURBVDjL7dQ/S1xREAXw39v1D64JKa2thXubkDRiGqsIIaUg4gcQxEZsbBJC0kXtAsFGUKtYpA/5DLuNiDY2GrASBY3gPptZeIRk4xaChQMX5t2ZOffcOfMuj3bvllIqcs6NXutyzkW3eK0oiiH09wpclqWU0j/Ba7F+YwmnuMY+XkXOBxxUahZw1Wq1PqPRDbxjXzCI1ygxhudo42fkTOEG85WW1O56yzn8Cn8b38MfxjHe31WEp38I8Q2beIJLTMb+UrA9xAWWo76vglWv9rhelmUd49iI687iPJj/iNwZfMQLvMRK7FdJtauMG1jEHnZwhmfhr1WKrtEZy1EcdR23EOodppGwHuATEeuIcxxijuArVruKl3MewC6usIWBCG1Ej9/G9xucxKGfUKSUhnuZil7+vsbj2/VfK/7yYvWh3Ww2bx4k41uOzkmXwIjKMQAAAABJRU5ErkJggg==);
  display: inline-block;
  vertical-align: middle;
}

p.h7 {
  background: #f5f5f5;
  background: linear-gradient(to bottom, #f5f5f5, #fff);
  background: -webkit-linear-gradient(top,  #f5f5f5, #fff);
  border-top: 3px solid;
  border-radius: 5px;
  padding: 3px 0 0 5px;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 40px;
  text-indent: 0px;
  margin-right: 5px;
}
p.h8 {
  background: #f5f5f5;
  background: linear-gradient(to bottom, #f5f5f5, #fff);
  background: -webkit-linear-gradient(top,  #f5f5f5, #fff);
  border-top: 3px;
  border-radius: 5px;
  padding: 3px 0 0 5px;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 50px;
  text-indent: 0px;
  margin-right: 5px;
}

/********************************************************/
/**** FOOTER-ELEMENTS ***/

footer {
  background-color: #f4f4f4;
  background: linear-gradient(to bottom, #efefef, #f8f8f8);
  background: -webkit-linear-gradient(top,  #efefef, #f8f8f8);
  border-radius: 5px;
  padding: 2px;
  color: #000000;
  font-family: serif;
  font-size: 16px;
  margin-left: 2px;
}
footer > p {
  font-size: 16px;
}
footer > p.clsCenter {
  font-size: 16px;
  text-align: center;
}
footer > address {
  font-size: 16px;
}
footer > table {
  margin-left:auto;
  margin-right:auto;
}
footer > td {
  border: none!important;
}

/********************************************************/
/**** ELEMENTS ***/

p {
  text-indent: -25px;
  margin-left: 25px;
  margin-right: 5px;
}
p.clsIndent {
  text-indent: 0px;
  margin-left: 25px;
  margin-right: 5px;
}

code {
  display: inline-block;
  background-color: #f9f9f9;
  color: #000000;
  border: 1px solid #98AFC7;
  border-left: 3px solid #98AFC7;
  font-size: 16px;
  padding: 0 3px 0 3px;
  text-indent: 0px;
}

pre {
  margin-left: 25px;
  padding-left:5px;
}

table {
  border-collapse:collapse;
  margin-left: 25px;
  padding-left:5px;
}

td {
  border: 1px solid black;
  padding-left:5px;
  white-space:wrap;
}
td.clrBgTurq {
  background-color: #00ffff;/* Turquoise */
  text-align: center;
}
td.clsBorderNo {
  border: none;
  padding-left:5px;
  white-space:wrap;
}
/********************************************************/
/*** INLINE text-content ***/
/* a, dfn, br, b, span  */

span.clsQuote {
  background-color: #ededed;
  display: inline-block;
  text-indent: 0px;
}

ol, ul {margin-right: 5px;}

/* hide-class: a-element */
a.clsHide {
  background: white !important;
  color: white !important;
  float: right;
}
div > a.clsHide {
  margin-right: 5px;
  margin-top: -25px;
}
a.clsHide.clsClickCnt:before {
  font: normal normal normal 22px/1 IcnFontAwesome;
  content: "\f0c1"; /* link-icon */
  background: green;
  border-radius: 3px;
  padding: 3px;
}
a.clsHide.clsClicked:before {
  font: normal normal normal 22px/1 IcnFontAwesome;
  content: "\f0c1"; /* link-icon */
  background: blue;
  border-radius: 3px;
  padding: 3px;
}
span > a.clsHide {
  display: inline-block;
  float: none;
  position: relative;
}
span > a.clsHide.clsClickCnt:before {
  font: normal normal normal 14px/1 IcnFontAwesome;
  content: "\f0c1"; /* link-icon */
  background: green;
  border-radius: 2px;
  padding: 2px;
  margin-left: 14px;
}
span > a.clsHide.clsClicked:before {
  font: normal normal normal 14px/1 IcnFontAwesome;
  content: "\f0c1"; /* link-icon */
  background: blue;
  border-radius: 2px;
  padding: 2px;
  margin-left: 14px;
}

a:link {
  color: #000000;
  text-decoration:none;
}
a:visited {
  color: #000000;
}
a.clsClickCnt.clsPreview {
  color: blue;
}
a.clsClickCnt {
  color: DodgerBlue;
}
a.clsClicked.clsPreview {
  background: blue;
  color: white !important;
}
a.clsClicked {
  background: DodgerBlue;
  color: white !important;
}

#idTocPathP {
  margin: 5px 0px 5px 25px;
  padding-left: 3px;
  font-weight: bold;
}
#idTocTri.clsTreeUl {
  margin-top: 0px;
  margin-left: -44px;
  list-style-type: none;
  font-size: 1.12em;
  line-height: 1.5;
  white-space: nowrap;
}
#idTocTri.clsTreeUl .clsTreeUl {
  margin-left: -20px !important;
}
#idTocTri.clsTreeUl .clsFaCrcCol,
#idTocTri.clsTreeUl .clsFaCrcExp {
  padding-right: 10px;
  padding-left: 10px;
}
#idTocTri.clsTreeUl .clsFaCrc {
  padding-right: 10px;
  padding-left: 10px;
}
.clsTocTriHighlight {background-color: yellow;}

#idCnrPreviewDiv {
  position: absolute;
  z-index: 100; /* popup */
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 44%;
  max-height: 44%;
  padding: 10px;
  color: #000000;
  border-radius: 5px;
  font-size: 90%;
  background: white;
  box-shadow: 0px 0px 59px rgba(0,0,0,0.6);
}

#idMeta {
}
#idMeta > h1 {
  background: #fdfdfd;
  border-radius: 1px;
  border-top: 4px solid #41A317;
  margin: 22px 0px 0px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-left: 2px;
}
#idMeta h2 {
  background: #f1f1f1;
  border-top: 1px solid #f1f1f1;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

#idComment {
}

#idComment > h1,
#idSupport > h1 {
  background: #f1f1f1;
  border-top: 4px solid #f1f1f1;
  font-weight: bold;
  margin: 2px 0 0px 0;
  padding: 3px 0 3px 0;
  text-align: center;
}

/********************************************************/
/*** CLASSES ***/

/* tooltip classes */
.clsTtp {
  position: relative;
}
.clsTtp span.clsTtp {
  display: none;
}
.clsTtpShow span.clsTtp {
  background-color: black;
  color: white;
  border-radius: 3px;
  display: block;
  padding-left: 8px;
  padding-right:8px;
  text-align: center;
  position: absolute;
  top: 26px;
  left: 5px;
  white-space: nowrap;
  line-height: 26px;
  cursor: default;
}
.clsTtpShow.clsPosRight span.clsTtp {right: 5px; left: auto;}

.clsBtn {
  border-radius: 5px;
  font-size: 12px;
  margin: 2px 0 5px 12px;
}
.clsBtn.clsClicked {
  background: DodgerBlue;
  color: white;
}
.clsEditor {
  background: transparent;
  color: #999999;
}

/* class.CENTER */
.clsCenter {
  text-align: center;
}
.clsCenterBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clsCenterInline {
  display: block;
  text-align: center;
}

/* class.COLOR */
.clsColorBlue {color: #0000ff;}
.clsColorBlueBg {background-color: #0000ff;}
.clsColorGreen {color: #008000;}
.clsColorGreenBg {background-color: #008000;}
.clsColorRed {color: #ff0000;}
.clsColorRedBg {background-color: #ff0000;}
.clsColorYellow {color: #FFFF00;}
.clsColorYellowBg {background-color: #FFFF00;}
.clsColorWhite {color: white;}

/* class.FONT */
.clsFontGrExt {font-family: "Palatino Linotype";}
.clsFontGrMg {font-family: MgPolNewTimes; font-size: 16px;}
.clsFontSerif {font-family: Serif, "Times New Roman", Georgia;}
.clsFontSansserif {font-family: SansSerif, "Microsoft Sans Serif", Arial, Dialog, Tahoma;}
.clsFontMonospaced {font-family: Monospaced, "Courier New", Courier;}
.clsFontScript {font-family: Script "Monotype Corsiva";}
.clsFontDecorative {font-family: Wingdings;}

.clsImgLnkIcn:before {
  margin-left: 5px;
  background-color: green;
  color: white;
  width: 17px;
  padding: 1px;
  border-radius: 2px;
}

/* class.paperbookPage */
.clsPagePb {
  display: block;
  margin-right: 5px;
  text-align: right;
  color: green;
}
p .clsPagePb {
  margin-right: 0px;
}

/* class.SIZE */
.clsSizeSmall {font-size: small;}
.clsSizeSmallX {font-size: x-small;}
.clsSizeMedium {font-size: large;}
.clsSizeLarge {font-size: large; font-weight: bold;}
.clsSizeLargeX {font-size: x-large; font-weight: bold;}

/* class.Bold, class.Underline */
.clsB {/* use strong element, not this */font-weight: bold;}
.clsBU {font-weight: bold; text-decoration: underline;}
.clsU {text-decoration: underline;}

.clsFloatLeft {float: left;}
.clsFloatRight {float: right;}

/********************************************************/
/***  TABS ***/

ul#idTocTabNamesUl {
  margin: 0px;
  padding: 0px;
  float: left;
  list-style: none;
  height: 26px;
  border-bottom: 1px solid black; /* the big line */
  width: 100%;
}
ul#idTocTabNamesUl li {
  background: #eeeeee;
  float: left;
  margin-left: 3px;
  padding: 0;
  height: 26px;
  width: 106px;
  line-height: 26px;
  overflow: hidden;
}
ul#idTocTabNamesUl li a {
  text-decoration: none;
  color: green;
  display: block;
  font-weight: bold;
  padding: 0 0 0 4px;
  outline: none;
  width: 110px;
}
ul#idTocTabNamesUl li a:hover {
  text-decoration: underline;
}
ul#idTocTabNamesUl li.clsTabActive {
  border-top: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid #eeeeee;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 1px solid black;
}
ul#idTocTabNamesUl li.clsTabActive a:hover  {
  text-decoration: none;
  cursor: default;
}
#idTocTabContentcnrDiv {
  float: left;
  width: 100%;
  padding: 2px;
}

/********************************************************/
/***  TREE-UL ***/

.clsTreeUl {
  margin-left: -27px;
  list-style-type: none;
}
.clsTreeUl .clsTreeUl {
  /* next uls to have more margin */
  margin-left: -15px;
  list-style-type: none;
}

.clsTreeUl li li{
  padding-left: 0px;
}

.clsTreeUl .clsFaCrcCol,
.clsTreeUl .clsFaCrcExp {
  cursor: pointer;
  padding-right: 12px;
  padding-left: 12px;
}
.clsTreeUl .clsFaCrcCol.clsTriClicked,
.clsTreeUl .clsFaCrcExp.clsTriClicked {
  background: DodgerBlue;
  color: white;
}
.clsTreeUl .clsFaCrc {
  padding-right: 12px;
  padding-left: 12px;
}

.clsTreeUl > li,
.clsTreeUl > li > a {
  color: green !important;
  font-weight: bold;
}
.clsTreeUl > li > ul > li,
.clsTreeUl > li > ul > li > a {
  color: green !important;
  font-weight: normal;
}
.clsTreeUl > li > ul > li > ul > li,
.clsTreeUl > li > ul > li > ul > li > a {
  color: blue !important;
}
.clsTreeUl > li > ul > li > ul > li > ul > li,
.clsTreeUl > li > ul > li > ul > li > ul > li > a {
  color: indigo !important;
}
.clsTreeUl > li > ul > li > ul > li > ul > li > ul > li,
.clsTreeUl > li > ul > li > ul > li > ul > li > ul > li > a {
  color: violet !important;
}
.clsTreeUl > li > ul > li > ul > li > ul > li > ul > li > ul > li,
.clsTreeUl > li > ul > li > ul > li > ul > li > ul > li > ul > li > a {
  color: red !important;
}
.clsTreeUl > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li,
.clsTreeUl > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > a {
  color: orange !important;
}
.clsTreeUl a.clsClicked {
  color: white !important;
}

/********************************************************/
/* Icons Font Awesome 4.6.3 - http://fontawesome.io/license */
@font-face {
  font-family: 'IcnFontAwesome';
  src: url('IcnFa463.woff2?v=4.6.3') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.clsFa {
  display: inline-block;
  font: normal normal normal 14px/1 IcnFontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clsFaArrowsH:before {content: "\f07e";}
.clsFaCrc:before {content: "\f111";}
.clsFaCrcCol:before {content: "\f139";}
.clsFaCrcExp:before {content: "\f13a";}
.clsFaClose:before {content: "\f00d";}
.clsFaHome:before {content: "\f015";}
.clsFaLink:before {content: "\f0c1";}
.clsFaLinkBroken:before {content: "\f127";}
.clsFaLinkExt:before {content: "\f08e";}
.clsFaLinkExtSqr:before {content: "\f14c";}
.clsFaMenu:before {content: "\f0c9";}
.clsFaSearch:before {content: "\f002";}
